h1 {
    color:rgb(79, 79, 176);
    background-color: orange;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h2 {
    color:brown;
    font-style: italic;
    text-align: center;
}
p {
    font-family: sans-serif;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: x-large;
    line-height: 50px;
}
ul {
    font-size: 20px;
}
/* this is a comment.*/